.App {
	display: table;
	width: 960px;
	height: auto;
	background-color: rgba(62, 62, 62, 0.96);
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #666;
	box-sizing: border-box;
}
/* .app-header {
	width: 960px;
	height: 50px;
	margin: 0 auto;
  background: #000 url('img/bg/header-bg.jpg');
} */
.nav {
	float: left;
	width: 170px;
}
.nav a {
	display: block;
	line-height: 1.8;
	color: #F1F1F1;
	text-transform: capitalize;
}
.content {
	float: left;
  width: 748px;
}